*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgba(67, 88, 212, 0.696);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(151, 40, 40, 0.703);
    background-color: rgb(93, 213, 66);
    transition: .5s;
    font-size: 30px;
 
}
h1:hover{
    background-color: rgb(46, 194, 211);
    color: rgba(30, 139, 109, 0.589);
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 30px;
    margin-left: 40px;
    padding: 20px;
    letter-spacing: 2px;
    background-color: rgba(150, 177, 60, 0.622);
    border-radius: 25px;
}