h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(38, 86, 176);
    background-color: rgb(93, 213, 66);
    transition: .5s;
 
}
h1:hover{
    background-color: rgb(46, 194, 211);
    color: rgba(68, 57, 221, 0.623);
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 30px;
    margin-left: 40px;
    padding: 20px;
    letter-spacing: 2px;
}
body{
    background-color: rgba(215, 152, 70, 0.718);
}